@import '~ant-design-vue/dist/antd.custom.css';

main.ant-layout-content {
    padding-left: 50px;
    padding-right: 50px;
}
@media only screen and (max-width: 768px) {
    main.ant-layout-content {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.header-cart-dropdown .ant-dropdown-menu-items {
    padding: 0;
    margin-bottom: 0;
}

.header-cart-dropdown .ant-dropdown-menu-items li {
    padding: 10px;
}

.header-cart-dropdown .ant-dropdown-menu-items li:hover {
    background-color: #d6a9ff;
}

.header-submenu-category,
.header-submenu-category:hover,
.header-submenu-category .ant-menu-submenu-title:hover {
    background-color:#8400ff;
    color:#FFFFFF!important;
    font-weight: bold;
}

/* For demo */
.product-carousel.ant-carousel .slick-dots {
    height: auto;
}
.product-carousel.ant-carousel .slick-slide img {
    margin: auto;
    max-height: 301px;
}
.product-carousel.ant-carousel .slick-arrow {
    display: none !important;
}
.product-carousel.ant-carousel .slick-thumb li {
    padding: 2px;
    width: 50px;
    height: 50px;
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgb(0 0 0 / 10%);
    margin-bottom: 5px;
    cursor: pointer;
}
.product-carousel.ant-carousel .slick-thumb li img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
}
.product-carousel.ant-carousel .slick-thumb li:hover img {
    filter: grayscale(50%);
}
.product-carousel.ant-carousel .slick-thumb li.slick-active img {
    filter: grayscale(0%);
}

/* transits */
.product-carousel.ant-carousel .slick-thumb li img,
.header-cart-dropdown .ant-dropdown-menu-items li
{
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
