@import '~ant-design-vue/dist/antd.custom.css';

main.ant-layout-content {
    padding-left: 50px;
    padding-right: 50px;
}
@media only screen and (max-width: 768px) {
    main.ant-layout-content {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.header-submenu-category,
.header-submenu-category:hover,
.header-submenu-category .ant-menu-submenu-title:hover {
    background-color:#8400ff;
    color:#FFFFFF!important;
    font-weight: bold;
}
